h1 {
    color: red;
    text-align: center;
    font-size: 50px;
}

#img-holder {
    width: 600px;
    margin: 50px auto;
}

#img-holder img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 10px;
}